body {
    font-family: "Barlow Condensed", Verdana, sans-serif;
    font-size: 100%;
    font-weight: 100;
    background-color: #0f1318;
    color: #ced0d1;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

.work-titles {
    font-style: italic;
}

.employer {
    font-weight: 300;
}

#small-caps {
    font-variant: small-caps;
}