body {
    font-family: 'Raleway';
    font-size: 100%;
    line-height: 1.25em;
    font-weight: 100;
    font-size: 100%;
    color: #050404;
    background-color: #fff;
}

/* Create one grid and put that sign in the middle of it */
#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "nav nav"
        "main main";
}

/* Navigation styles */
nav {
    grid-area: nav;
    margin-top: 1.25em;
}

nav ul {
    /* Set up the flexbox */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

li {
    margin: 0 5em;
}

.logo {
    margin-right: auto;
    margin-left: 3em;
}

#main {
    grid-area: main;
    align-self: center;
    justify-self: center;
    font-size: 70px;
    font-style: italic;
}

/* Link Styles */
a {
    transition-property: color;
    transition-duration: .7s;
}

a:link,
a:visited {
    text-decoration: none;
    color: #050404
} 

a:focus,
a:hover,
a:active {
    color: #c00a2f;
}