/* Body and CSS Grid Styles */
body {
    width: auto;
    height: auto;
    font-family: 'Raleway';
    font-size: 100%;
    line-height: 1.25em;
    font-weight: 100;
    font-size: 100%;
    color: #050404;
    background-color: #fff;
}

#grid-layout {
    /* width: 100vw; */   /* Gets rid of horizontal scroll bar */
    height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "nav nav"
        "main .";
}


/* Navigation Styles */
nav {
    grid-area: nav;
    margin-top: 1.25em;
    font-size: 1.25em;     /* debateable */
}

nav ul {
    /* Set up the flexbox */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}


li {
    margin: 0 5em;
}

.logo {
    margin-right: auto;
    margin-left: 3em;
}


/* Main Styles */
main {
    grid-area: main;
    align-self: center;
    font-size: 70px;
    margin-left: 1em;
}

/* Aside Styles */
aside {
    grid-area: aside;
    align-self: center;
}


/* Link Styles */
a {
    transition-property: color;
    transition-duration: .7s;
}

a:link,
a:visited {
    text-decoration: none;
    color: #050404
} 

a:focus,
a:hover,
a:active {
    color: #c00a2f;
}


/* Misc. styles */
.italic {
    font-style: italic;
}