body {
    font-family: 'Raleway';
    font-size: 100%;
    line-height: 1.25em;
    font-weight: 100;
    font-size: 100%;
    color: #050404;
    background-color: #fff;

    /* background: #ADA996;  
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    */
    

}

#grid-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "nav nav"
        "main aside";
}

/* Navigation Styles */
nav {
    grid-area: nav;
    margin-top: 1.25em;
}

nav ul {
    /* Set up the flexbox */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

li {
    margin: 0 5em;
}

.logo {
    margin-right: auto;
    margin-left: 3em;
}

/* Main Styles */
main {
    grid-area: main;
    align-self: center;
    font-size: 70px;
    margin-left: 1em;
}

/* Aside Styles */
aside {
    grid-area: aside;
    align-self: center;
}

/* Misc. styles */
#name {
    /* color: #ab4945; */
    /* color: #db0a0a; */
    font-style: italic;
    /* color: #c91e08; */
}


/* Contact Page Styles */
#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "nav nav"
        "main main";
}

#main {
    grid-area: main;
    align-self: center;
    justify-self: center;
    font-size: 70px;
    font-style: italic;
}

/* Link Styles */
a {
    transition-property: color;
    transition-duration: .7s;
}

a:link,
a:visited {
    text-decoration: none;
    color: #050404
} 

a:focus,
a:hover,
a:active {
    color: #c00a2f;
}